.App {
  text-align: center;
  background-color: pink;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding-bottom: 50px;
}

.Input {
  padding-top: 10px;
  padding-bottom: 20px;
}


.Header {
  background-color: steelblue;
  width: 100%;
}


.Card {
  background-color: lightcoral;
  width: 60%;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  padding: 10px;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
